@use "../../styles/variables" as v;

.need-help {
width: 100%;
height: 100%;


    .button{
        display: flex;
        margin-top: 20px;
        width: 430px;
        margin-left: 50px;
       
    }
}