@import '/src/styles/variables';

.container { 
.reset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 252px 0;
  min-height: 80vh;
  margin-right: 180px;
  margin-bottom: 0px;
  

  > * {
    margin-top: -220px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }

  .reset-code-title,
  .new-password-title,
  .retry-new-password-title {
    font-size: 18px;
    padding: 3px;
    
    
  }

  .reset-code-input,
  .new-password-input,
  .retry-new-password-input {
    width: 500px;
    background-color: $color13;
    border: none;
    border-bottom: 1.5px solid black;
    height: 50px;
    outline: none;
    text-indent: 5px;
    caret-color: gray;

    &:hover,
    &:focus {
      box-shadow: none;
    }
  }

  .reset-password-button {
    background-color: $color14;
    color: white;
    padding: 15px 25px;
    font-size: large;
    border: none;
    width: 240px;
    white-space: nowrap;
    margin-left: 125px;
  }

  
}
}