.page-content {
    display: flex;
    justify-content:flex-end; 
    align-items: center;
    height: 80vh;
}
.error401 {
    flex: 1;
    padding-left: 80px; 
    margin: auto;
}


.error401-image {
    width: 100%;
    height: auto;
    margin-top: 6rem;
  }
  
  .error401-title {
    color: #6cb534;
    font-size: 40px;
    text-align: left;
    white-space: nowrap;
  }

  .error-message {
    color: #000000;
    font-size: 15.5px;
    text-align: left;
    font-weight: 640;
  }


  .error401-button {
    background-color:#323131;  
    color: #ffff;  
    padding: 15px 100px ;  
    font-size: 15px;  
    cursor: pointer;
    font-weight: 500;
    border-radius: 10px;
  }
  
  .error401-button:hover {
    background-color: #413f3f;  
  }

