
$color1: #6DB532;
$color2: #3B3B3B;
$color3: #d4eac3;
$color4: #BBDEEA;
$color5: #84BACD;
$color6: gray;
$color7: #a9e37a;
$color8: white;
$color9: #e4e4e4ca;
$color10: #807e7ed0;
$color11: #cec9c9;
$color12-ligt:#eaf9de ;


$primary: $color1;
$secondary: $color2;
$success: $color7;
$info: $color6;
$danger: $color10;
$font-family-sans-serif: 'Roboto', sans-serif;