@import '/src/styles/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.container {
.advert-details-container {
  min-height: 80vh;
  display: flex;
  justify-content: space-between; 
  
.advert-description,
.advert-details, 
.advert-location,
.advert-photos{
  align-items: left;
  margin-top: 15px;  
}

.advert-description,
.advert-details, 
.advert-location,
.advert-photos,
.tour-schedule {
 background-color: $color13;
 border-radius: 20px ;
 border: 1px solid rgb(194, 192, 192); 
}


.advert-photos {
  .villa {
    flex: 1;
    margin-left: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;

    &.selected {
      width: 815px;
      height: auto;
      margin-top: 1rem;
      margin-bottom: 20px;
      border-radius: 20px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 4px solid #54fd00;
        box-sizing: border-box;
        border-radius: 20px;
        z-index: -1;
      }
    }

    &.not-selected {
      width: 130px;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgb(0, 8, 3);
      }
    }
  }
}

.advert-description{
 
.description-title,
.description-desc {
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.description-title {
  margin-bottom: 10px;
  font-weight: bold;
}
.description-desc {
  margin-top: 0; 
 }
}



.advert-details{
  display: flex;
  flex-direction: column;

.details-content {
  
}
.details-title,
.details-content {
  margin-left: 40px;
  white-space: pre-wrap;
  ;
}

 .size,
 .bathrooms,
 .bedrooms,
 .garage {
   text-align: left;
   margin-top: 20px; 
 }

 .year-of-built,
 .furniture,
 .maintenance,
 .terrace {
   text-align: right;
   margin-top: 20px;
 }

 
.details-title {
  font-weight: bold;
  margin-top: 50px;
  }
}





.advert-location {
  margin-bottom: 200px;

  .location-title {
    margin: 0;
    font-weight: bold;
    padding-top: 20px;
  }

  .location-content {
   margin: 0;
    white-space: pre-wrap;
  }

  .location-map {
    width: 800px;
  }
  .location-title,
  .location-content {
    margin-left : 150px; 
    
  }
  .location-title,
  .location-map,
  .location-content {
    margin-left: 20px;
    margin: 10px;
  }
}


.tour-schedule {
  padding: 5px 2px;
  margin-left: 30px;
  flex: 1;
  margin-top: 15px;
  align-items: right;
.submit-button {
  background-color: $color14;
  color: white;
  padding: 12px 90px;
  font-size: medium;
  margin-left: 25px;
  border: none;
  border-radius: 10px;
  white-space: pre-wrap;
  margin-bottom: 27px;
  font-weight: bold;
}

.submit-button:hover {
  background-color: #78c950;
}

.schedule-title {
  margin-top: 15px;
  margin-bottom: 0px;
}

.schedule-desc {
 font-size: 14px;
} 

.date-input,
.time-input{
  margin-left: 20px ;
  border: 1px solid rgb(236, 233, 233); 
  width: 330px;
  margin-left: 30px;
  padding: 9px;
}

.schedule-title,
.schedule-desc {
 margin-left: 30px;
  }
}


  }
}