@import '/src/styles/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {   
.login-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 200px 0px;
   min-height: 80vh;
   
   > * {
    margin-bottom: 100px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  
 
  .email-title,
  .password-title {
    font-size: 16px;
  }

.email-input,
.password-input {
  width: 450px;
  background-color: $color13;
  border: none;
  border-bottom: 1.5px solid black;
  height: 50px;
  outline: none;
  text-indent: 5px;
  caret-color: gray;
}

  
 .forgot-password-link {
  text-decoration: none;
  color: black;
  white-space: nowrap;
  margin: 308px;
}

  
  .login-button {
   background-color: $color14;
   color: white;
   padding: 15px 98px ;
   font-size: large;
   margin-left: 97px;
   border: none;
  }
    
  .register-now-paragraph {
    white-space: nowrap;
    margin-left: 55px;
    font-size: 16px;
  }

  .register-now-link {
    color: black;
  }
}
}